name: Checkmarx One Scan
on:
  push:
    branches:
      - main
      - master
jobs:
  scan:
    runs-on: ubuntu-latest
    if: ${{ true }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17.0.7
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Cache SonarCloud packages
        uses: actions/cache@v2
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Checkmarx One CLI Action
        uses: checkmarx/ast-github-action@main
        with:
            base_uri: ${{ secrets.BASE_URI }}
            cx_tenant: ${{ secrets.TENANT }}
            cx_client_id: ${{ secrets.CLIENT_ID }}
            cx_client_secret: ${{ secrets.SECRET }}
            additional_params: --report-format sonar --debug
      - name: Sonar analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GIT_HUB_TOKEN }}
        run: mvn -B clean verify sonar:sonar -Dsonar.token= ${{ secrets.SONAR_TOKEN }} -Dsonar.branch.name=$(Build.SourceBranchName) -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=margaritalm -Dsonar.projectKey=margaritalm_maven-samples -Dsonar.externalIssuesReportPaths=./cx_result_sonar.json
